# Following 4 lines for ignoring py_cache (including the comment as a line)
keyboard/__pycache__/
mouse/__pycache__/
keyboard/*.py[cod]
mouse/*.py[cod]

# Ignore all .pkl files
*.pkl

# VS Code workspace settings
.vscode/settings.json
